@font-face {
	font-family: 'gyre';
	src:url('fonts/texgyreheros-regular.otf');
}

html{
	height:100%;/* Pour dimensionner en hauteur, il faut dimensionner depuis la balise html*/
	color:white;
	font-family: 'Helvetica Neue', 'gyre';
}

body{
	padding:0;
	margin:0;
	display:table;/*Pour pouvoir appliquer l'alignement avec table-cell dans les éléments enfants*/
	width:100%;
	height:100%;
	background: url("./images/dark_exa_@2X.png") center fixed;
	/*L'alignement vertical est fait ici avc table-cell, mais il peut être fait directement en CSS3*/
	/*La propriété vertical-align: middle; s'applique sur les éléments inline, 
	et prends comme référend la hauteur de ligne. 
	On est donc obligé de définir le line-height pour se positionner par rapport à cette propriété.*/
	/* L'élément à aligner s'alignera au milieu de la hauteur de la ligne définie */
	/*IMPORTANT : penser à rédifinif la hauteur de ligne après le postionnement de l'élément enfant*/
	/* EXEMPLE :
	<p> <span>Lorem ipsum <br/> Cras [...]</span> </p>
	p {
	  height:200px;
	  line-height:200px;
	  text-align:center; -- centrage horizontal --
	}

	span { 
	  width:100px; -- largeur zone de texte --
	  border:1px solid #fff;
	  vertical-align:middle;
	  display:inline-block;
	  line-height:1.2; /* on rétablit le line-height --
	  text-align:left; /* ... et l'alignement du texte --
	};
	*/

	/*Pour un cas de page dynamique : utiliser javascript? */
	/*Autre solution : utiliser display:table-cell; pour lequel le vertical-align:middle; 
	peut également facilement s'appliquer.
	*/	
	/*line-height: 800px;*/
	/*text-align:center;/*Centrage horizontal d'un élément en ligne*/
}



h1{
	font-size: 1.5rem;
	margin: 0.2rem;
	text-align: left;
	display: inline-block;
}

p{
	margin: 0.2rem;
	font-size: 0.8em;
}

body > div{/*Pour éviter la déclaration implicite de table-row*/
	display:table;
	width:100%;
	height: 100%;
	table-layout: fixed;
}


#cell{
	display:table-cell;
	box-sizing: border-box;
	margin: 0 auto;
	width:600px;
	vertical-align: middle;
	text-align:center;
	line-height:1;

	font-size: 1rem;
}

#bloc{
	box-sizing:border-box;
	width:500px;
	margin:auto;
}

.paragraphe{
	display: block;
	box-sizing: border-box;

	text-align: justify;
	/*margin: 1rem;*/
	min-height: 86px;
	/*clear:both;*/
}

.icone{
	display: table-cell;
	padding-right: 2em;
	vertical-align: middle;
	text-align: center;
}

.icone > div{
	border-radius:50%;
	background-color: white;
	height:3em;
	width:3em;
	line-height: 2.8em;
	text-align: center;
}

img{
	display: inline-block;
	vertical-align: middle;
	height: 2rem;
	width: 2rem;
	line-height: 1.2em;
}

.arrow-down{
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	display: block;
	background-color: white;
	padding:0;
	margin-top: 0.5em;
	width: 100%;
	height: 0.5em;
	line-height: 0em;
/*	vertical-align: top;*/
	text-align: center;
	opacity: 0.8;
}

div.arrow-down > img{
	height: 0.5em;
	width: 0.5em;
}

.texte{
	/*Pour l'alignement du texte, on crée un BFC*/
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	/*Fin de déclaration pour la création du BFC*/

	text-align: left;
}
.clear{
	clear:both;
}

.comment{
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	font-size: 0.8rem;
	height: 0;
	opacity:0;
}

.event-catcher:hover .comment{
	height:6em;
	opacity:1;
}

.event-catcher:hover .arrow-down{
	opacity:1;
}

.link{
	margin-top: 20px;
	text-align: center;
	font-size: 0.6rem;
}

/*******************************/
/**** Menu caché ********/
/*******************************/
nav{
	padding: 0 1em 0 1em;
	display: table;
	border-collapse: separate;
	border-spacing: 20px 0;
}
nav > div > div{
	display: table-cell;
	width:33%;
	text-align: center;
	vertical-align: top;

}

.menuhaut{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:2em;
	-moz-box-sizing:border-box;
}

.menucache{
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	position: absolute;
	top:-2em;
	left:0;
	width:100%;
	height:2em;
	background-color: white;
}

.menuhaut:hover .menucache{
	top:0;
}

.logo-menu{
	width:2em;
	height:2em;
}