/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
}

/*FONTS*/
/*Remarque :
Concernant l'avertissement "use the bulletproof @font-face syntax"
Voir cette page : https://github.com/CSSLint/csslint/wiki/Bulletproof-font-face
*/

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('http://themes.googleusercontent.com/static/fonts/oswald/v8/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}


@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url('http://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url('xhttp://themes.googleusercontent.com/static/fonts/lato/v7/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
*/
/*
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/CggrdU0t5c42NcNxN-VM33YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/VNUH7ZAcagYBWsAiBBCEY7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
*/



/*GENERAL STYLES*/
html{
    font-size:16px;
    font-family: 'Lato';
    line-height: 1.35em;
}

h1, h2, h3{
    font-family: "Oswald";
    line-height: 1.35em;
}

h1, h3{
     text-transform: uppercase;
}

.wrapper{
    width:1024px;
    margin:auto;
}

/*
nav > .wrapper, footer >.wrapper{
    background-color: rgb(43,43,43);
}
*/

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    text-align: justify;
}

/*CONTENT STYLES*/
/*HEADER*/
header{
    margin: 2em 0 2em 0;
}

header > div > div {
    float:left;
}

header h1{
    font-size: 2em;
    display: inline-block;
}

/*
header h1:first-letter, header h1 span{
    color:rgb(235,60,0);
}
*/

header h2{
    margin-left: 2em;
    display: inline-block;
    vertical-align: baseline;
}

header ul{
    float: right;
}

header li{
    display: inline-block;
    vertical-align:middle;
}

header img{
    max-width: 4em;
    margin: 0 0.5em 0 0.5em;
}

#logosmall{
    max-width: 2em;   
}

/*NAV*/
nav{
    background-color: rgb(43,43,43);
    height: 72px;
    position:relative;
}

nav ul{
    font-family: "Oswald";
    font-size: 2em;
    height: 100%;
}

nav ul li{
    /*Indispensable pour que l'élément table-celle puisse hériter de la taille du conteneur en utilisant les %    */
    display:table;
    float:left;
    height:100%;
    padding:0 0.5em 0 0.5em;
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li a{
    display:table-cell;
    vertical-align: middle;
    height:100%;
    width:100%;
    color:lightgray;
}

nav span{
    font-size:1.5em;   
}

nav ul li:hover{
    background-color:rgba(235,60,0, 0.9);
}

.current a{
    color:rgba(235,60,0, 0.9);
}

.current:hover a{
    color:lightgray;
}




/*SECTION*/
.left{
    float:left;
    width:66%;
    background-color: rgba(247, 247, 247, 0.4);
}

.right{
    float:right;
    width:34%;
    padding-left:2em;
}

section article{
    padding: 1em 0 1em 0;
}

section article a{
    font-weight: 700;
}

section article a:hover{
    color:rgb(235,60,0);
}

section article a:visited{
   color:rgb(117, 117, 119);
}

section article h1{
    color:rgba(235,60,0, 0.9);
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
}

/*Article principal accueil*/

.large img{
    max-width: 100%;
}

/*Articles secondaires accueil*/
.small img{
    display: block;
    float:left;
    max-width: 34%;
}

.small > div > div{
    padding-left:1em;
    float:left;
    width:66%;
}

.left article:last-child{
    margin-bottom:2em;   
}

.abstract h2{
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.abstract p{
    font-size: 0.9em;
    padding:0 0.5em 0 0.5em;
}

/*DOWNLINKS : mise en forme des liens de téléchargement*/
.downlinks{
    font-size: 0.8em;
    padding: 0.5em 0 0 0.5em;
    color: rgb(117, 117, 119);
    text-align: right;
}

.downlinks p{
    display:inline;
    font-size: 1em;
}

.downlinks span{
    font-size: 1.5em;
}

.downlinks a:hover{
    color:rgba(235,60,0, 0.7);
}

/*FOOTER*/
footer{
    background-color: rgb(43,43,43);
    padding: 2em 0 0 0;
    color:rgb(117, 117, 119);
}

footer article{
    float:left;
}

/*footer article:nth-child(2){*/
.twitter{
    margin:0 1em 0 2em;
    width:30em;
}

footer article:last-child{
    float:right;   
}

footer h1, footer h3{
    color:rgba(235,60,0, 0.8);
    margin-bottom:0.5em;
    font-size: 1.5em;
}


footer h2{
    color:inherit;
    border-bottom: 1px solid rgb(117, 117, 119);
    padding-bottom: 1em;
}

footer h3{
    margin-top: 2em;
}

footer a:hover{
    color: rgba(235,60,0, 0.7);
}

footer ul li{
    list-style-type: none;    
}

footer article:last-child ul li{
    border-bottom: 1px solid rgb(117, 117, 119);
    padding: 1em 1em 1em 0;
}

footer article:last-child ul li:last-child{
    border-bottom: none;
}

footer div:last-child{
    padding: 1em 0 1em 0;
    background-color: rgb(40, 40, 40);
}

.social li{
    display:inline-block;
    font-size: 3em;
    margin: 0.25em 0.5em 0 0;
}

.twitter-timeline{
    height: 15em;
    color:black;
}

/*MEDIA QUERIES*/
@media only screen and (max-device-width : 320px){
}
@media only screen and (min-device-width : 321px){
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) and (orientation: portrait)
{
    .wrapper{
        width:100%;
        padding:0 1em 0 1em;
    }
    
    .left, .right{
        float: none;
        width: 100%;
        padding-left: 0;
        background-color: transparent;
    }
    
    p{
        text-align: left;
    }
    
    
    header h1, header h2{
        display: block;
        margin-left: 0;
    }
    
    nav ul{
        font-size:1.5em;
        display:block;
        margin: auto;
    }
    
    section h1 > p{
      display: inline;  
    }
    
    .abstract p{
        font-size:1em;
    }
    
    .downlinks {
        font-size: 1.1em;
        text-align: center;
    }
    
    .twitter{
        display:none;   
    }
}

/*
@media only screen and (min-width : 320px) and (max-width : 767px) {
        .wrapper{
            width:100%;
            padding:0 1em 0 1em;
        }
    
        p{
            text-align: left;
        }
    
        .abstract p{
            font-size:1em;
        }
    
        .downlinks {
            font-size: 1.1em;
        }
}
*/
    
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        .wrapper{
            width:100%;
            padding:0 1em 0 1em;
        }
    
        p{
            text-align: left;
        }
    
        .abstract p{
            font-size:1em;
        }
    
        .downlinks {
            font-size: 1.1em;
        }
}

@media (min-width:320px) and (max-width:1024px){
    nav, footer{
/*        width:1024px;   */
    }
}

/*STICKY MENU CLASS*/
.navcontainer{
    height:72px;
}

.stick{
    position: fixed;
    top:0;
    width:100%;
}

/*http://daneden.github.io/animate.css/*/

/*
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
*/

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
      top: -72px;
  }

  100% {
      top: 0;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
      top: -72px;
  }

  100% {
      top: 0;
  }
}

.fadeInDown {
/*    top:50px;*/
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}