/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, div, header, footer, section, article, ul, li,
h1:before, h2:before, h3:before, h4:before, div:before, header:before, footer:before, section:before, article:before, ul:before, li:before,
h1:after, h2:after, h3:after, h4:after, div:after, header:after, footer:after, section:after, article:after,ul:after, li:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
}

/*FONTS*/
/* 
	Generateur de fonts web : http://www.fontsquirrel.com/tools/webfont-generator
	
*/

@font-face {
  font-family: 'Kaushanregular';
  src: url('fonts/Kaushanregular.eot?') format('embedded-opentype'), url('fonts/Kaushanregular.woff') format('woff'), url('fonts/Kaushanregular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardoi';
  src: url('fonts/Cardoi.eot?') format('embedded-opentype'), url('fonts/Cardoi.woff') format('woff'), url('fonts/Cardoi.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardob';
  src: url('fonts/Cardob.eot?') format('embedded-opentype'), url('fonts/Cardob.woff') format('woff'), url('fonts/Cardob.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardor';
  src: url('fonts/Cardob.eot?') format('embedded-opentype'), url('fonts/Cardor.woff') format('woff'), url('fonts/Cardor.ttf') format('truetype');
}

/*Déclaration @font-face avec svg*/
/*@font-face {
	  font-family: 'Kaushanregular';  		
	  src: url('Kaushanregular.eot?') format('embedded-opentype');
	  src: local('☺︎'),
	  	url("kaushanregular.woff") format("woff"),
	  	url("kaushanregular.otf") format("opentype"),
      	url("kaushanregular.svg#kaushan") format("svg");
}*/


/*TAG STYLES*/
html{
	font: 1em Cardor; 
}

body{
	width:100%;
}



/*HEADER*/
header{
	min-width: 72em;
}

img{
	max-width: 20em;
/*	display: block;
	
	margin:0 auto;*/
	/*padding-right:20em;*/
}

.maintitle{
	width: 50%;
	color:rgba(224,150,255,1);
	background-image: -webkit-gradient(linear, left top,  left bottom, from(rgba(224,150,255,1)), to(rgba(150, 204, 255, 1)));
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.headerimage{
	width: 50%;
}

.triangleref{
	position: absolute;
	width:50%;
	min-width: 36em;
	height: 100%;
	top: 0;
	right: 0;
}

.triangle1 {
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(224,150,255,0.8) 0%, rgba(150, 204, 255, 0.8) 60%);
	-webkit-clip-path: polygon(154px 125px,100% 0px,100% 250px);

	/*-webkit-clip-path: circle(30px at 35px 35px);*/
	/*overflow: hidden;*/
/*	border-top: 6em solid rgba(0,0,0,0);

	-webkit-border-image: 
    	-webkit-gradient(linear, 0 0, 0 100%, from(rgba(224,150,255,0.5)), to(rgba(150, 204, 255, 0.5))) 1 100%;
    -webkit-border-image: 
    	-webkit-linear-gradient(rgba(224,150,255,0.5), rgba(150, 204, 255, 0.5)) 1 100%;
    -moz-border-image:
    	-moz-linear-gradient(rgba(224,150,255,0.5), rgba(150, 204, 255, 0.5)) 1 100%;    
    -o-border-image:
    	-o-linear-gradient(rgba(224,150,255,0.5), rgba(150, 204, 255, 0.5)) 1 100%;
    border-image:
    	linear-gradient(to bottom, rgba(224,150,255,0.5), rgba(150, 204, 255, 0.5)) 1 100%;
	border-right: 50em solid ;
	
	border-bottom: 6em solid rgba(0,0,0,0);

	box-shadow: 10px 10px 5px #888888;*/
}

.triangle2 {
 	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(224,150,255,0.9) 0%, rgba(150, 204, 255, 0.9) 60%);
	-webkit-clip-path: polygon(200px 125px,100% 20px,100% 230px);
}

/*.triangle1:after {
    position: absolute;
    left: 20em; top: 50%;
    width: 82em;
    height: 40em;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    transform: rotate(22.5deg) skewX(-10deg);
    transform: rotate(22.5deg) skewX(-55deg);
    background: linear-gradient(to top, rgba(224,150,255,1), rgba(150, 204, 255, 1));
    content: '';
}*/

hr{
	border: 0 solid rgb(218,218,218);
	border-top-width: 1px;

	/*Peut-être une solution à trouver avec box-shadow?*/
	/*box-shadow: 0 0 0 1px rgb(218,218,218);*/
}

h1{
	font: 6em Kaushanregular;
	text-align: center;
}

h2{
	font: italic 3em Cardoi;
	color: rgb(255,0,78);
	text-align: center;
}

li{
	display:inline-block;
}

/*ARTICLE*/
article{
	margin-bottom: 10em;
	border: 1px solid rgb(255,0,78);
}

/*MENU*/
.menu{
	/*width: 100%;*/
	height: 5em;
	background-color: rgb(254, 241, 245);
	display: flex;

	/*align-content: stretch;*/
}

.menu li{
	font: 1em Cardob;
	color: rgb(255,0,78);
	height: 100%;
	border:1px solid rgb(255,231,238);

	display:flex;
	/*Aligner verticalement*/
	align-items: center;
	/*Aligner horizontalement*/
	justify-content: center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu li:hover{
	color: rgb(254, 241, 245);
	background-color: rgb(255,0,78);
}

.menu p{
	cursor: default;
}

.active{
	/*color: rgb(254, 241, 245);*/
	background-color: rgb(255,0,78);
}

.activetext{
	border: 1px solid rgb(254, 241, 245);
	color:rgb(254, 241, 245);
}

.menu li:hover .border{
	border: 1px solid rgb(254, 241, 245);
}

.menu li:hover .iconsvg{
	fill:rgb(254, 241, 245);
}

.bigger{
	flex-grow:4;
}

.smaller{
	flex-grow: 1.5;
}

.border{
	border: 1px solid rgb(255,0,78);	
}

.boxed{

	width: 1.625em;
	height: 1.625em;
	text-align: center;
	vertical-align: bottom;
}

li > span:first-child{
	margin-right:1em;
}

.iconsvg{
	width: 1em;
	line-height: 1.65em;
}

/*SECTION*/
section{
	min-height: 20em;
	background-color: rgb(248,248,248);
	padding: 1em;
	font: 1.2em  Cardor ;
	color: rgb(25,25,25);
}

/*FOOTER*/
footer{
	position: relative;
	background-color: rgb(229,229, 229);
	/*bottom:0;*/
	width: 100%;
}


.social{
	background-color: rgb(229,229, 229);
	padding: 1em 0;
	width: 16.5em;
	margin:0 auto;
	text-align: center;
	position: relative;
	top:-1.5em;
}

#backgroundtext{
	background-color: rgba(250,249,249, 0.8);
	position: absolute;
	top:-20em;
	height: 20em;
	width: 100%;
	z-index: -1;
	background-image: url(./images/backtext.svg#svgtext);
}

.copyrights{
	text-align: center;
	font: 1em Kaushanregular;
	color:rgba(74,72,73);
}


/*CLASSES*/
.wrapper{
	width:72em;
	margin: 0 auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear:after{
	display:block;
	content:"";
	clear:both;
}

.relative{
	position: relative;
}


/*MEDIA QUERIES*/
	@media (height > 1055px){
		footer{
			position: fixed;
			bottom:0;
		}
	}