/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, div, header, footer, section, article, ul, li,
h1:before, h2:before, h3:before, h4:before, div:before, header:before, footer:before, section:before, article:before, ul:before, li:before,
h1:after, h2:after, h3:after, h4:after, div:after, header:after, footer:after, section:after, article:after,ul:after, li:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
}

/*FONTS*/
/* 
	Generateur de fonts web : http://www.fontsquirrel.com/tools/webfont-generator	
*/

@font-face {
  font-family: 'Kaushanregular';
  src: url('fonts/Kaushanregular.eot?') format('embedded-opentype'), url('fonts/Kaushanregular.woff') format('woff'), url('fonts/Kaushanregular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardoi';
  src: url('fonts/Cardoi.eot?') format('embedded-opentype'), url('fonts/Cardoi.woff') format('woff'), url('fonts/Cardoi.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardob';
  src: url('fonts/Cardob.eot?') format('embedded-opentype'), url('fonts/Cardob.woff') format('woff'), url('fonts/Cardob.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardor';
  src: url('fonts/Cardor.eot?') format('embedded-opentype'), url('fonts/Cardor.woff') format('woff'), url('fonts/Cardor.ttf') format('truetype');
}

/*Déclaration @font-face bulletproof avec svg*/
/*http://typographisme.net/post/Bonnes-pratiques-pour-les-d%C3%A9clarations-@font-face*/
/*@font-face{
    font-family : "maFonte";

    src : url('maFonte.eot'); /* Pour IE9 Compat mode */
/*    src : url('maFonte.eot?') format('eot),
          url('maFonte.woff') format('woff'),
          url('maFonte.svg#abcd') format('svg'),
          url('maFonte.ttf') format('truetype');
}
*/


/*TAG STYLES*/
html{
	font: 1em Cardor; 
}

body{
	width:100%;
}

/*HEADER*/
header{
}

img{

	
/*	display: block;
	
	margin:0 auto;*/
	/*padding-right:20em;*/
}

.maintitle{
	color:rgba(224,150,255,1);
	background-image: -webkit-gradient(linear, left top,  left bottom, from(rgba(224,150,255,1)), to(rgba(150, 204, 255, 1)));
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

.headerimage{
	display: block;
	margin:0 auto;
	max-width: 20em;
}

.triangleref{
	position: absolute;
	width:50%;
	min-width: 36em;
	height: 100%;
	top: 0;
	right: 0;
}

.triangle1 {
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(224,150,255,0.8) 0%, rgba(150, 204, 255, 0.8) 60%);
	-webkit-clip-path: polygon(0px 125px,100% -20px,100% 270px);
}

.triangle2 {
 	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(224,150,255,0.9) 0%, rgba(150, 204, 255, 0.9) 60%);
	-webkit-clip-path: polygon(50px 125px,100% 20px,100% 230px);
}

hr{
	border: 0 solid rgb(218,218,218);
	border-top-width: 1px;
	/*Peut-être une solution à trouver avec box-shadow?*/
	/*box-shadow: 0 0 0 1px rgb(218,218,218);*/
}

h1{
	font: 6em Kaushanregular;
	text-align: center;
}

h2{
	font: italic 3em Cardoi;
	color: rgb(255,0,78);
	text-align: center;
}




/*MENU*/
.menu{
	height: 5em;
	background-color: rgb(254, 241, 245);
	display: flex;
}

.menu li{
	display:flex;
		/*Aligner verticalement*/
		align-items: center;
		/*Aligner horizontalement*/
		justify-content: center;

	font: 1em Cardob;
	color: rgb(255,0,78);
	height: 100%;
	border:1px solid rgb(255,231,238);
	cursor: pointer;
	/*Complément pour mobile*/
	/*	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

.menu span:first-child{
	margin-right:1em;
}

/*.menu li:hover{
	color: rgb(254, 241, 245);
	background-color: rgb(255,0,78);
}*/

.active, .active p{
	/*color: rgb(254, 241, 245);*/
	color:rgb(254, 241, 245);
	background-color: rgb(255,0,78);
}

.active .box{
	color:rgb(254, 241, 245);
	border-color: rgb(254, 241, 245);
}

.selected{
	color:rgb(254, 241, 245);
	background-color: rgb(255,0,78);
}

.selected .box{
	color: rgb(254, 241, 245);
	border-color: rgb(254, 241, 245);
}

.iconsvg{
	padding-top: 5px;
	width: 1em;
}

.activetext{
	border: 1px solid rgb(254, 241, 245);
	color:rgb(254, 241, 245);
}

.bigger{
	flex-grow:4;
}

.smaller{
	flex-grow: 1.5;
}

.box{
	border: 1px solid rgb(255,0,78);
	width: 1.625em;
	height: 1.625em;
	text-align: center;
	vertical-align: middle;
}



/*ARTICLE*/
article{
	margin-bottom: 10em;
	border: 1px solid rgb(255,0,78);
}



/*SECTION*/
section{
	min-height: 20em;
	background-color: rgb(248,248,248);
	padding: 1em;
	font: 1.2em  Cardor ;
	color: rgb(25,25,25);
}

/*FOOTER*/
footer{
	position: relative;
	background-color: rgb(229,229, 229);
	/*bottom:0;*/
	width: 100%;
}


.social{
	background-color: rgb(229,229, 229);
	padding: 1em 0;
	width: 16.5em;
	margin:0 auto;
	text-align: center;
	position: relative;
	top:-1.5em;
}

#backgroundtext{
	background-color: rgba(250,249,249, 0.8);
	position: absolute;
	top:-20em;
	height: 20em;
	width: 100%;
	z-index: -1;
	background-image: url(./images/backtext.svg#svgtext);
}

.copyrights{
	text-align: center;
	font: 1em Kaushanregular;
	color:rgba(74,72,73);
}


/*CLASSES*/
.wrapper{
	width:72em;
	margin: 0 auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear:after{
	display:block;
	content:"";
	clear:both;
}

.relative{
	position: relative;
}


/*MEDIA QUERIES*/
	@media (min-height : 1055px){
		footer{
			position: fixed;
			bottom:0;
			z-index:-1;
		}
	}
